/* Importerar Google Fonten Jost */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Tar bort default margin - en CSS reset */
* {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  margin: 10px;
}

/* header {

} */

.header-image {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  padding: 10px;
}

/* header > div > img {
} */

/* Centrerar innehållet på sidan och sätter direktionen till kolumner istället för rader */
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 10px;
}

/* .wrapper-content {
} */

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

/* Överskrider Bootstraps default länkarstilar med !important*/
a {
  text-decoration: none !important;
  color: black !important;
}
/* Min-height gör att innehållet anpassar sig efter ytan
om det inte är minimum 300px */
/* header {
  min-height: 300px;
} */

img {
  max-width: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  gap: 10px;
}

.search > input {
  display: inline;
  width: 80%;
  border-radius: 50px;
  font-size: 1.1em;
  padding: 5px;
}

.icons-container {
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
}

.icons {
  font-size: 1.5em;
}

/* Styling för navigationen */
nav {
  display: flex;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
}

ul > a {
  font-size: 1.2em;
}

/* Slut på styling för navigationen */

/* Centrerar innehållet i hero-sektionen. */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.hero > div {
  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* flex-grow: 1; */
}

/* Styling för hero-bild. 
Max-width gör så att bilderna inte flödar över det horisontella utrymmet. */
.hero > div img {
  max-width: 100%;
}

/* .image-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.text-overlay {
  position: absolute;
  z-index: 2;
} */

/* Skapar en en-kolumnsgrid */
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
}
/* 
Ger ramar åt alla produkt-kort */
/* .product-grid > div {
} */

/* 
Ger ramar åt alla produkt-kort samt centrerar innehållet */
.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 1px solid rgb(173, 173, 173);
}

.product-card > img {
  max-width: 100%;
}

.product-description-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product-description {
  display: flex;
  justify-content: space-between;
}

.brand-name {
  display: flex;
  justify-content: flex-start;
}

/* För skärmar som är större än eller lika med 640px */
@media (min-width: 640px) {
  /* Skapar en två-kolumnsgrid */
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .accordion {
    display: none;
  }

  header > img {
    max-width: 40%;
  }

  p {
    font-size: 1em;
  }
}

/* För skärmar som är större än eller lika med 1024px */
@media (min-width: 1024px) {
  /* Skapar en fyra-kolumnsgrid */
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
