/* Importerar Google Fonten Jost */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

/* Tar bort default margin - en CSS reset */
* {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

/* body {
} */

/* header {

} */

.header-image {
  display: flex;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  padding: 10px;
}

/* Centrerar innehållet på sidan och sätter direktionen till kolumner istället för rader */
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

/* Överskrider Bootstraps default länkarstilar med !important*/
a {
  text-decoration: none !important;
  color: black !important;
}
/* Min-height gör att innehållet anpassar sig efter ytan
om det inte är minimum 300px */
/* header {
  min-height: 300px;
} */

img {
  max-width: 100%;
}

.search {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: nowrap; */
  margin: 10px;
  padding: 5px;
  gap: 10px;
}

.search > input {
  display: inline;
  border-radius: 50px;
  font-size: 1.1em;
  padding: 5px;
}

.nav-icons-container {
  display: flex;
  gap: 10px;
  /* justify-content: space-around; */
}

.nav-icons {
  font-size: 1.5em;
}

/* Styling för navigationen */
nav {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

ul > a {
  font-size: 1.2em;
}

/* Slut på styling för navigationen */

/* Centrerar innehållet i hero-sektionen. */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.hero > div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Styling för hero-bild. 
Max-width gör så att bilderna inte flödar över det horisontella utrymmet. */
.hero > div img {
  max-width: 100%;
}

/* Skapar en en-kolumnsgrid */
.product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 10px;
}

.position-container {
  position: relative;
}

/* 
Ger ramar åt alla produkt-kort samt centrerar innehållet */
.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.product-card > img {
  max-width: 100%;
}

.product-description-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.product-description {
  display: flex;
  justify-content: space-between;
}

.product-description h2 {
  font-size: 1.2rem;
  padding: 5px;
}

.brand-name p {
  font-size: 1rem;
  padding: 5px;
}

.brand-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.new-products > span {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 10px;
  border-radius: 8px;
  background-color: black;
  color: white;
}

.heart-container {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}

.heart-container i {
  position: relative;
  font-size: 1.8em;
}

/* .heart-icon {

} */

.store-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

.store-information > div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.store-information > div > .fa-solid,
.fa-regular {
  font-size: 2em;
}

.store-information h3 {
  text-align: center;
  font-size: 1.2em;
}

footer {
  text-align: center;
}

/* För skärmar som är större än eller lika med 640px */
@media (min-width: 640px) {
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .header-image {
    /* justify-content: flex-start; */
    display: inline-block;
    max-width: 40%;
    flex-grow: 1;
  }

  .header-image > img {
    max-width: 90%;
  }

  /* Header form */
  .search {
    flex-grow: 1;
  }

  .break {
    width: 100%;
  }
  /* .search-icons-container > a {
  } */

  nav {
    width: 100%;
  }

  nav > ul {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .hero > div {
    width: 100%;
  }
  /* Skapar en två-kolumnsgrid */
  .product-grid {
    grid-template-columns: 1fr 1fr;
  }

  .new-products > span {
    top: 10px;
  }

  .heart-container {
    bottom: 10px;
    right: 10px;
  }

  .accordion {
    display: none;
  }

  p {
    font-size: 1em;
  }

  .store-information,
  footer {
    background-color: rgb(223, 223, 223);
    padding: 24px;
  }
}

/* För skärmar som är större än eller lika med 1024px */
@media (min-width: 1024px) {
  /* Skapar en fyra-kolumnsgrid */
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
