/*Importerar stil från*/
@import "main.css";

body,
main {
  margin: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-details img {
  width: 100%;
}

.product-details h1 {
  margin-top: 20px;
  font-size: 2em;
}

.product-details h2 {
  font-size: em;
}

.product-description-container h3 {
  font-size: 1em;
  padding: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn button {
  width: 100%;
  padding: 10px;
  margin-left: 30px;
  border-radius: 8px;
}

.store-information {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 28px;
}

.store-information > div {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.store-information > div > .fa-solid,
.fa-regular {
  font-size: 2em;
}

.store-information h3 {
  text-align: center;
  font-size: 1.2em;
}

.similar-products,
.similar-products h2 {
  display: none;
}

.accordion-body > nav > ul {
  text-align: left;
  margin-left: 0;
}

/* För skärmar som är större än eller lika med 640px */
@media (min-width: 640px) {
  .product-grid {
    gap: 25px;
  }

  .chosen-product {
    flex-direction: row;
  }

  .chosen-product * {
    padding: 5px;
  }

  .chosen-product button {
    width: 30%;
    margin-left: 0;
  }
  .product-details img {
    width: 100%;
  }

  .chosen-product p {
    width: 50%;
  }

  .product-details h1 {
    margin-top: 20px;
    font-size: 2em;
  }

  .product-description-container {
    width: 100%;
  }

  .product-description {
    display: flex;
    justify-content: space-between;
  }

  .store-information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }

  .store-information > div {
    margin: 10px;
    padding: 15px;
  }

  .similar-products {
    display: flex;
    justify-content: center;
  }

  .similar-products > h2 {
    padding: 15px;
    display: block;
  }

  .accordion {
    display: none;
  }

  .footer-nav {
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    flex-wrap: no-wrap;
  }

  footer h3 {
    font-size: 1.1em;
  }

  .container > nav > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  footer {
    background-color: rgb(223, 223, 223);
    padding: 24px;
  }
}

/* För skärmar som är större än eller lika med 1024px */
@media (min-width: 1024px) {
  .btn button {
    width: 20%;
  }

  .store-information {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
